*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.background-img{
  background-image: url(https://archive.md/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg);
  background-position-x: 50%;
  background-position-y: 100%;
  height: 700px; 
  padding-top: 83px;
}

/* Navigation */
.navbar {
  display: flex;
  width: 980px;
  height: 36px;
  background-image: url(https://archive.md/UW4oR/959dc37b1b6692997a6d3ab19862dd59e5e83ecf.png);
  border-radius: 4px;
  margin: 0 auto 10px;
}

.navbar a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0 1px 0 1px;
  color: rgb(58, 58, 58);
  text-decoration-line: none;
}

.navbar a div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.first-nav-item {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: none;
}

.first-nav-item img {
  height: 22px;
  width: 22px;
}

.navbar .sec-to-last-nav-item {
  border-right-width: 2px;
}

.last-nav-item {
  display: flex;
  width: 132px;
  justify-content: center;
  align-items: center;
}

.last-nav-item form {
  width: 106px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px, rgba(255, 255, 255, 0.199219) 0px 1px 0px;
  border-radius: 12px;
}

.last-nav-item form .search-icon {
  color: white;
  font-size: 12px;
  margin-left: 7px;
}

.last-nav-item form input {
  width: 66px;
  background: transparent;
  border: none;
}

 /* Main Section */

.main-section {
  width: 800px;
  margin: 70px auto;
  text-align: center;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-decoration-line: none;
}

.large-header {
  font-size: 65px;
}

.medium-header {
  font-size: 30px;
}

.small-header {
  font-size: 25px;
}

.main-section section h2 {
  margin-top: 15px;
}

.main-section section h3 {
  margin-top: 25px;
}

.ap-ad img {
  width: calc(25% - 3px);
}

/* Footer */

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 90px;
}

.footer-first {
  height: 12px;
  font-size: 12px;
  padding-left: 20px;
  margin-top: 15px;
  color: rgb(110, 110, 110);
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-first a {
  color: rgb(0, 136, 204);
  text-decoration-line: none;
}

.footer-second {
  display: flex;
  align-items: center;
  height: 12px;
  font-size: 12px;
  padding-right: 20px;
  margin-top: 15px;
  color: rgb(110, 110, 110);
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-second a {
  color: rgb(0, 136, 204);
  text-decoration-line: none;
  padding: 0 5px 0 5px;
  border-left: 0.5px solid rgb(207, 205, 205);
}

.footer-second .first-a-footer-second {
  border-left: none;
}

.footer-third {
  height: 12px;
  font-size: 12px;
  padding-left: 20px;
  color: rgb(110, 110, 110);
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;

}

.footer-third a {
  text-decoration-line: none;
  color: rgb(0, 136, 204);  
}

.footer-third p {
  display: inline-block;
}

.privacy-policy {
  padding-left: 5px;
  border-left: 0.5px solid rgb(207, 205, 205);
}